.alert {
  &.added-alert {
    position: fixed;
    z-index: 100;
    top: 15px;
    right: 0;
    margin-left: 15px;
    margin-right: 15px;
    opacity: 0;
    transform: translateY(-100px);
    transition: all 0.3s ease-in;

    &.is-visible {
      opacity: 1;
      transform: translateY(0px);
      transition: all 0.3s ease-out;
    }
  }
}
