.app-intro-appear {
  opacity: 0.01;
}

.app-intro-appear.app-intro-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.app-intro-enter {
  opacity: 0.01;
}

.app-intro-enter.app-intro-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.app-intro-leave {
  opacity: 1;
}

.app-intro-leave.app-intro-leave-active {
  opacity: 0.01;
  transform: scaleY(0);

  transition: all 300ms ease-out;
}
