@import "../../index.scss";

.movie-form {
  position: relative;

  &.big-form {
    font-size: 110%;

    input,
    select,
    button {
      font-size: 110%;
    }
  }

  &:not(.big-form) {
    @include media-breakpoint-up(md) {
      padding-left: $spacer;
    }
  }

  .saving-indicator {
    position: absolute;
    width: 0;
    font-size: 20px;
    right: 35px;
    top: 0px;
    color: $success;
    z-index: 1;
    opacity: 0;
    transition: all 0.1s ease-out;

    &.is-saving {
      opacity: 1;
    }

    @include media-breakpoint-up(md) {
      left: 2px;
      top: 18px;
    }
  }

  .stars {
    padding-top: 0;
    padding-bottom: 0;
  }

  @include media-breakpoint-up(sm) {
    .rating-number-input {
      max-width: 5rem;
    }
  }

  @include media-breakpoint-up(md) {
    .movie-action {
      &.movie-action-delete {
        margin-top: 15px;
      }
    }
  }
}
