@import "../../index.scss";

.movie-list {
  .list-group-item {
    &:nth-child(odd) {
      background-color: $gray-200;
    }
  }
}

.movie-list-appear {
  opacity: 0.01;
  margin-top: -100px;
}

.movie-list-appear.movie-list-appear-active {
  opacity: 1;
  margin-top: 0px;
  transition: opacity 0.5s ease-in;
}

.movie-list-enter {
  opacity: 0.01;
}

.movie-list-enter.movie-list-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.movie-list-leave {
  opacity: 1;
  max-height: 500px;
}

.movie-list-leave.movie-list-leave-active {
  opacity: 0.01;
  max-height: 0px;
  transform: scaleY(0);

  transition: all 300ms ease-out;
}
